body{
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background-color: #EEE;
    padding: 0 10px;
    font-family: sans-serif;
}
@media screen and (min-width: 800px) and (orientation: landscape) {
    body {
        overflow: hidden;
    }
}
h1, h2, h3 {
    line-height:1.2;
}
h1 {
    text-align: center;
}
code {
    border-radius: 9px;
    background-color: #DDD;
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
}
pre {
    border-radius: 9px;
    background-color: #DDD;
    padding: 10px;
    overflow-x: auto;
}
dt {
    font-weight: bold;
}
p {
    margin-top: 0;
}

input {
    border-radius: 9px;
    padding: 5px;
    border: 1px solid #444;
    margin: 5px;
}
button {
    border-radius: 9px;
    padding: 5px;
    border: 1px solid #444;
    background-color: #EEE;
}
button:hover {
    background-color: #DDD;
}

ul.licenses {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.socials a {
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.socials img {
    width: 3em;
    height: 3em;
    border-radius: 25%;
    border: 1px solid #444;
}

.window {
    border: 1px solid #444;
    border-radius: 9px;
    padding: 0px;
    margin: 10px;

    position: absolute;
    background-color: #FFF;

    max-width: 50%;
    max-height: 75%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.window hr {
    margin: 0;
    flex-grow: 1;
    width: 100%;
}
.window.grabbed {
    cursor: move;
    user-select: none;
}
.window .titlebar {
    margin: 0;
    padding: 10px;
    display: flex;
}
.window:not(.grabbed) .titlebar {
    cursor: default;
}
.window .titlebar h3 {
    margin: 0;
    margin-right: 3em;
    flex-grow: 1;
}
.window .titlebar button {
    border-radius: 50%;
    border: 1px solid #444;
    width: 2em;
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #EEE;
    margin-left: 0.5em;
}
.window .titlebar button:hover {
    background-color: #DDD;
}
.window .titlebar .close {
    background-color: #F88;
}
.window .titlebar .close:hover {
    background-color: #F44;
}
.window .content {
    margin: 10px;
    overflow: auto;
    padding-right: 1rem;
}
